<%- include('partials/header'); -%>
<div class="container"style="min-height: 93vh;">
<h1>Compose</h1>
<form class="" method="post">

  <label >Title</label>
  <div class="form-group">
    <input class="rounded shadow-lg" type="text" name="userinputTitle" value="">
  </div>


  <label>Post</label>
  <div class="form-group">
    <textarea class="rounded shadow-lg" name="userinputPost" rows="5" cols="80"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" name="button" formaction="/">Private post</button>
  <button type="submit" class="btn btn-primary" name="button" formaction="/global">Public post</button>

</form>
</div>



<%- include('partials/footer'); -%>
