<%- include('partials/header'); -%>

<h1>Compose</h1>
<form class="" action="/" method="post">
// currently coding for add this button to home so that user direct access.
  <label >Title</label>
  <div class="form-group">
    <input type="text" name="userinputTitle" value="">
  </div>


  <label>Post</label>
  <div class="form-group">
    <textarea name="userinputPost" rows="5" cols="80"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" name="button">Publish</button>

</form>




<%- include('partials/footer'); -%>
