<%- include('partials/header'); -%>

<div class="container rounded shadow-lg min-vh-80"style="min-height: 80vh;background-image: linear-gradient(#B7E9F7,#DBF3FA,#F5FCFF );">
<h1>Contact</h1>
<p>We'd love to hear from you! Whether you have questions, feedback, or simply want to get in touch, there are several ways to reach us. Feel free to choose the method that's most convenient for you.</p>
<h1>Contact Information</h1>
<p>Email: <br>You can reach our support team at harshkumarsingh005@gmail.com. We strive to respond to all emails within 24 hours.
    
    Phone:
    If you prefer speaking with a real person, you can give us a call at +91 7563887184 during our business hours, which are Monday through Friday, 9:00 AM to 5:00 PM (GMT).</p>
    <h1>Social Media:</h1>
    <p>Connect with us on our social media platforms for updates, news, and more. Follow us on <br> <a href="https://www.instagram.com/harsh_s_ngh/">Instagram</a><br><a href="https://www.linkedin.com/in/harsh-kumar-singh-681419252/">Linkedin</a></p>
</div>



<%- include('partials/footer'); -%>
