<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DailyJouranl Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
  <div class=""><video autoplay muted loop id="myVideo">
    <source src="../public/Video/176303 (720p).mp4" type="video/mp4">
  </video>
</div>
  <div class="container min-vh-90 text-center"style="min-height: 90vh;">
    <h1 class="position-relative text-white text-center">LOGIN to HK Daily Journal</h1>
    <div class="container my-3 d-flex justify-content-center bg-transparent">
        <form action="/login" method="POST" class="shadow-lg rounded cb1" style="min-height: 60%; min-width: 30%;background-color:#00000059">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label mx-3 my-2 text-white" for="email">Email address</label>
      <input 
      type="email" id="email"
      name="email"
      class="form-control w-75 mx-3"
      placeholder="Enter Email"
      />
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label mx-3 my-2 text-white" for="password">Password</label>
      <input 
      type="password"
      id="password"
      class="form-control w-75 mx-3"
      name="password"
      placeholder="Enter password"
      />
    </div>
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label text-white" for="form2Example31"> Remember me </label>
        </div>
      </div>
      <div class="col text-white">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4 mx-3">Log in</button>
    <!-- Register buttons -->
    <div class="text-center text-white">
      <p>Not a member? 
        <a href="./register">Register</a></p>
      <p>or sign up with:</p>
      <div class="d-flex justify-content-center">
        <a href="/auth/google" class="bg-light text-decoration-none px-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google mx-1 my-2" viewBox="0 0 16 16">
          <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
        </svg>Sign in with Google</a>
      </div>
    </div>
  </form>
</div>
<a class="position-relative btn btn-outline-light text-center text-white" href="/global"><Strong>Visit Global blogs</Strong></a>
</div>
<div class="footer-padding">
  <div class="footer">
    <p>Made with ❤️ by The Harsh Production</p>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>



